altair==5.5.0
cryptography==44.0.2
pandas==2.2.3
plotly==6.0.1
python_bcrypt==0.3.2
pytz==2025.1
SQLAlchemy==2.0.39
streamlit==1.43.2
streamlit_javascript==0.1.5
streamlit_js==1.0.8
validate_email_address==1

